<div style="text-align: center; position: fixed; margin-left: -256px;" id="teasernet">
<div id="teaser_4095"><a href="http://globalteaser.ru/">Тизерная сеть GlobalTeaser</a></div>
<script type="text/javascript">document.write('<scr'+'ipt type="text/jav'+'ascript" src="http://globalteaser.ru/show/?block_id=4095&r='+escape(document.referrer)+'&'+Math.round(Math.random()*100000)+'"></scr'+'ipt>');</script>
</div>
